.mac-book-pro143-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mac-book-pro143-mac-book-pro143 {
  width: 100%;
  height: 1769px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 250, 230, 1);
}
 
.mac-book-pro143-text10 {
  top: 22px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text11 {
  top: 476px;
  left: 460px;
  color: rgba(65, 65, 65, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text16 {
  top: 208px;
  left: 112px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text17 {
  top: 579px;
  left: 331px;
  color: rgba(65, 65, 65, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text18 {
  top: 686px;
  left: 116px;
  color: rgba(65, 65, 65, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text19 {
  top: 1015px;
  left: 116px;
  color: rgba(65, 65, 65, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text20 {
  top: 836px;
  left: 555px;
  color: rgba(65, 65, 65, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text21 {
  top: 689px;
  left: 553px;
  color: rgba(65, 65, 65, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text22 {
  top: 590px;
  color: rgba(65, 65, 65, 1);
  right: 165px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text23 {
  top: 206px;
  left: 250px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text24 {
  top: 204px;
  color: rgba(0, 0, 0, 1);
  right: 144px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text25 {
  top: 20px;
  left: 879px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro143-text26 {
  top: 22px;
  color: rgba(0, 0, 0, 1);
  right: 147px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text27 {
  top: 22px;
  left: 1207px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text28 {
  top: 22px;
  left: 1302px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-screenshot20251018at1332051 {
  top: 135px;
  left: 508px;
  width: 377px;
  height: 320px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
 
.mac-book-pro143-line1 {
  top: 1382.0013427734375px;
  left: 981.9779052734375px;
  width: 796px;
  height: 1px;
  position: absolute;
}
 
.mac-book-pro143-transparentillustration1 {
  top: 793px;
  left: 148px;
  width: 302px;
  height: 165px;
  position: absolute;
}
 
.mac-book-pro143-arrowupright1 {
  top: 689px;
  left: 329px;
  width: 39px;
  height: 37px;
  position: absolute;
}
 
.mac-book-pro143-arrowupright2 {
  top: 722px;
  left: 880px;
  width: 39px;
  height: 37px;
  position: absolute;
}
 
.mac-book-pro143-arrowupright3 {
  top: 866px;
  left: 860px;
  width: 39px;
  height: 37px;
  position: absolute;
}
 
.mac-book-pro143-arrowupright4 {
  top: 1020px;
  left: 396px;
  width: 39px;
  height: 37px;
  position: absolute;
}
 
.mac-book-pro143-text29 {
  top: 1152px;
  left: 116px;
  color: rgba(65, 65, 65, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-text30 {
  top: 1087px;
  left: 558px;
  color: rgba(65, 65, 65, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Instrument Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro143-arrowupright5 {
  top: 1214px;
  left: 304px;
  width: 39px;
  height: 37px;
  position: absolute;
}
 
.mac-book-pro143-arrowupright6 {
  top: 1085px;
  left: 862px;
  width: 39px;
  height: 37px;
  position: absolute;
}
 
.mac-book-pro143-screenshot20251018at1717411 {
  top: 918px;
  left: 554px;
  width: 287px;
  height: 116px;
  position: absolute;
}
 
.mac-book-pro143-image1 {
  top: 1268px;
  left: 116px;
  width: 188px;
  height: 147px;
  position: absolute;
}
 
.mac-book-pro143-vector1 {
  top: 785px;
  left: 557px;
  width: 26px;
  height: 34px;
  position: absolute;
}
 
.mac-book-pro143-link {
  display: contents;
}
 
.mac-book-pro143-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.mac-book-pro143-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.mac-book-pro143-text31 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
